# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Copied from (now-redundant) ./client/.gitignore:

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


## Original ./.gitignore (Ruby & Rails no longer used):

# backend
rails_javascript_development
rails_javascript_test

# personal settings
/.vscode/

# personal notes
wip-scratch.txt

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
