div.PhotoList {
	background: rgb(240, 234, 214);
	height: 100%;
	margin-bottom: 60px;
	margin-left: 60px;
	/* margin-right: 60px;
	margin-top: 60px; */
	/* Match NavBar (use CSS vars for this...): */
	margin-inline: 25px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

div.Photo
	{
	display: inline-block;
	/* width: 100px;
	height: 100px; */
	/* aspect-ratio: 1/1; */
	}
div.PhotoList img
	{
	width: 200px;
	height: 200px;
	transition: transform 1.5s cubic-bezier(0.175, 0.885, 0, 1);
	}

div.PhotoList img:hover
	{
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	transform: scale(1.5, 1.5);
	transition: transform 1.5s cubic-bezier(0.175, 0.885, 0, 1);

	/* width: 25%;
	height: 25%;
	aspect-ratio: 1/1; */
	}