div.PhotoList {
	grid-area: photolist;
	background: rgb(240, 234, 214);
	margin-top: 1rem;
	/* Match NavBar (use CSS vars for this...): */
	margin-inline: 25px;
	padding: 1rem;
}

div.Photo
	{
	display: inline-block;
	/* width: 100px;
	height: 100px; */
	margin: 1rem 1rem 3rem 1rem;
	/* aspect-ratio: 1/1; */
	vertical-align: top;
	}
div.PhotoList img
	{
	width: 200px;
	height: 200px;
	margin: 0;
	transition: transform 1.5s cubic-bezier(0.175, 0.885, 0, 1);
	cursor: pointer;
	}
div.Photo figure
	{
	/* margin: 1rem; */
	width: 200px;
	height: 200px;
	}

figcaption
	{
	width: 100%;
	text-align: center;
	}

/* div.PhotoList img:hover
	{
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	transform: scale(1.5, 1.5);
	transition: transform 1.5s cubic-bezier(0.175, 0.885, 0, 1);
	} */
	/* width: 25%;
	height: 25%;
	aspect-ratio: 1/1; */


.fullScreen
	{
	transform: scale(5);
	position: relative;
	top: 5rem;
	left: 5rem;
	position: absolute;
	top: 700px;
	left: 500px;
	transition: all 1.0s cubic-bezier(0.175, 0.885, 0, 1);
	}

.offScreen
	{
	transform: translateX(-100vw);
	opacity: 0;
	transition: all 2s ease-in-out;
	}
