
/* Handle wrapping evenly - responsive design: */
div#RoverList {
	grid-area: roverlist;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	justify-content: space-evenly;
	column-gap: 1rem;
	/* Match NavBar: */
	margin-inline: 25px;
	margin-block: 2rem;
}

@media (max-width: 1250px)
	{
	/* Handle wrapping evenly - responsive design: */
	div#RoverList {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 1rem;
		/* Match NavBar: */
		margin-inline: 25px;
		justify-content: space-evenly;
		}
	}

@media (max-width: 750px)
	{
	/* Handle wrapping evenly - responsive design: */
	div#RoverList {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		/* Match NavBar: */
		margin-inline: 25px;
		justify-content: space-evenly;
		}
	}
