div.RoverCard:hover {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	transform: scale(1.05, 1.05);
}


/*
 * This is for each card in list of 4 on Rovers NavBar tab.
 * Single RoverCard with CameraButtonList is below...
 */
div.RoverCard {
	background: rgb(240, 234, 214);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	box-sizing: border-box;
	/*
	 * Change height from 430px to fit-content (default?), as (on my display),
	 * there is very little padding at bottom:
	height: 430px;
	 */
	height: fit-content;
	padding-bottom: 2.5px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	padding-top: 2.5px;
	text-align: center;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	width: 300px;
	margin-inline: auto;
	margin-block: auto;
}

h1.RoverCard {
	text-align: center;
}

img.RoverCard {
	height: 250px;
	width: 250px;
}

p.RoverCard {
	font-size: small;
}

.rover_and_buttons
	{
	grid-area: rovercard;
	/* Align with NavBar: */
	margin-left: 25px;
	margin-block: auto;
	/* padding: 1rem 0; */
	}

/* Disable hover expansion when single rover showing: clicking does nothing: */
.rover_and_buttons div.RoverCard
	{
	cursor: auto;
	transform: scale(1);
	}

/* Responsive design requires this: */
a.RoverCard
	{
	width: fit-content;
	margin-inline: auto;
	}
