/* Why? Let NavBar.css handle this (especially with a.active) */
#about {
  background: rgb(240, 234, 214);
  border-radius: 10px;
  padding: 10px;
	/* Except this: make the width the same as the NavBar: */
	margin-inline: 25px;
}
