nav {
  /* Plays havoc with hover on a link elements: */
  /* align-items: center; */
  align-items: flex-end;
  background: rgb(240, 234, 214);
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  margin: 25px 25px 25px 25px;
  grid-area: navbar;
/* Make highlight touch edges of NavBar (by removing padding): */
/*
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
*/
}
/*
 * Set some styles that will be common between normal & active:
 * reduces elements shifting position when activated
 */
nav a
  {
  padding: .25rem 2rem 10px 2rem;
  font-size: 1.1rem;
  /* Make bottom corners square: extensions of body */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }
/* Highlight the "active" route: */
nav a.active
  {
  color: yellow;
  /* Make active "tab" look like actual "tab": */
  /* NOT being inherited from ¿body?: */
  background-color: var(--body-background-color);
  background-color: #212426;
  }
nav a:hover
  {
  background-color: hsla(111, 85%, 13%, 0.5);
  color: yellow;
  }
